* {
  padding: 0;
  margin: 0;
  transition: all 0.3s ease-in-out;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header {
  background-color: rgb(168, 206, 241);
  padding: 0;
  margin: 0;
}
header img {
  width: 100%;
  max-height: 100vh;
}
section {
  background-color: rgb(168, 206, 241);
  padding: 0;
  margin: 0;
}
nav {
  background-color: rgba(114, 165, 231, 0.623);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}
nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  list-style: none;
  height: 50px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.301);
}
nav li {
  height: 50px;
}
nav a {
  font-weight: bold;
  text-decoration: none;
  height: 100%;
  display: flex;
  padding: 0 30px;
  align-items: center;
  color: black;
  height: 50px;
}

nav a:hover {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.678);
  cursor: pointer;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(245, 245, 220, 0.445);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 -10px rgba(0, 0, 0, 0.5);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}
.BLDG {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 350px;
}
.BLDG ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10.5px;
  list-style: none;
  padding-bottom: 10px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.9);
  border-radius: 5px;
}
.BLDG li {
  background-color: rgba(27, 76, 182, 0.877);
  list-style: none;
  padding: 1.8em 3.2em;
  border-radius: 10px;
}
.BLDG a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.BLDG li:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: rgb(252, 252, 252);
}
.about {
  height: 240px;
  padding-top: 190px;
  padding-bottom: 190px;
  margin: 0 230px;
  background-color: rgb(168, 206, 241);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about h1 {
  display: flex;
  flex-wrap: wrap;
  font-size: 2vw;
  font-weight: bold;
}
.about p {
  padding-top: 20px;
  font-size: 1.7vw;
}
.contacts {
  height: 240px;
  padding-top: 190px;
  padding-bottom: 190px;
  margin: 0 220px;
  background-color: rgb(168, 206, 241);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.contacts h1 {
  font-size: 3vw;
  font-weight: bold;
  padding-bottom: 2rem;
  text-align: center;
}
.contacts p {
  padding-top: 20px;
  font-size: 1.8vw;
}
.contacts a {
  padding-top: 20px;
  font-size: 26px;
  color: inherit;
  text-decoration: none;
  font-size: 1.8vw;
}
.dropContent {
  position: relative;
  display: inline-block;
}
.dropContent {
  position: relative;
  display: inline-block;
}
.dropmenu {
  position: absolute;
  top: 8%;
  left: 69.6%;
  display: none;
}
.dropmenu ul {
  background-color: aqua;
  display: block;
  position: absolute;
}
.dropmenu a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(86, 119, 226, 0.616);
  border-radius: 20px;
  min-width: 120px;
}
.dropmenu a:hover {
  background-color: rgb(0, 0, 0, 0.1);
  color: aliceblue;
}
@media screen and (min-width: 780px) {
  .hamburger {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  .contacts {
    display: flex;
    justify-content: center;
  }
  .contacts h1 {
    font-size: 60.9px;
    font-weight: bold;
    padding-bottom: 2rem;
    text-align: center;
  }
  .contacts p {
    display: flex;
    padding-top: auto;
    font-size: 16px;
  }
  .contacts a {
    padding-top: 20px;
    font-size: 16px;
    color: inherit;
    text-decoration: none;
    font-size: 3vw;
  }
  .nav {
    display: none;
  }
  .BLDG ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10.5px;
    list-style: none;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(168, 206, 241);
    border-radius: 5px;
  }
  .BLDG li {
    background-color: rgba(114, 105, 105, 0.3);
    list-style: none;
    padding: 40px 50px;
    border-radius: 10px;
  }
  .BLDG a {
    font-size: 15px;
    text-decoration: none;
    color: black;
  }
  .footer p {
    font-size: 15px;
  }
}
.order-file {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem;
  height: 100vh;
  height: 350px;
  background-color: rgb(168, 206, 241);
}
.order-file iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}
.order {
  padding: 1rem 0.9rem;
  text-align: start;
}
.order h1{
    text-align: center;
    font-size: 2.5vw;
  font-weight: bold;
  padding-bottom: 1rem;
}
.order p {
    text-align: center;
    font-size: 1.5vw;
    padding-bottom: 1rem;
}
.table {
  width: 100%;
  height: 100vh; /* Full viewport height */
}
.table textarea {
    width: 95%;
    height: 20%;
    border-radius: 10px;
    margin-left: 3%;
}
.table button {
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(86, 119, 226, 0.616);
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    margin-top: 1rem;
    margin-left: 1rem;
}
.table button:hover {
    transform: scale(.9);
    cursor: pointer;
}
.table table {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
  border-radius: 10px;
  border-collapse: collapse;
}
.table th {
  background-color: rgba(43, 88, 235, 0.829);
  padding: .6rem 1rem;
  text-align: left;
}
.table tr {
  width: 100%;
}
.table td {
  padding: .6rem;
  text-align: center;
}
.add {
  padding: 1rem 0.9rem;
}
tr {
  background-color: rgba(18, 60, 184, 0.548);
}
tr:nth-child(even) {
  background-color: rgba(43, 88, 235, 0.548);
}
.inventory {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 10%;
}
.inventory button {
  padding: 30px 50px;
  background-color: #111fe0;
  color: #fdfdfd;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
.inventory button:hover {
  background-color: #0d0d9e;
  transform: scale(.9);
}
.db-inv a, .mm-inv a, .aux-inv a{ 
text-decoration: none;
color: inherit;
display: flex;
align-items: center
}
.aux-inv,
.mm-inv,
.db-inv {
margin: 15px 30px;
background-color: rgb(86, 119, 226);
flex-direction: column;
align-items: center;
font-size: 0.8vw;
}
.aux-inv h1,
.mm-inv h1,
.db-inv h1 {
display: flex;
flex-wrap: wrap;
font-size: 190%;
font-weight: bold;
justify-content: center;
text-align: center;
}
.aux-content,
.mm-content,
.db-content {
text-align: left;
flex-direction: column;
justify-content: flex-start;
padding: 0 3%;
}
.aux-content h2,
.mm-content h2,
.db-content h2 {
padding-top: 15px;
font-size: 170%;
padding-bottom: 15px;
text-align: left;
}
.aux-content button,
.mm-content button,
.db-content button {
padding: 15px 25px;
background-color: #111fe0;
color: #fdfdfd;
border: none;
border-radius: 9px;
cursor: pointer;
font-size: 18px;
font-weight: bold;
margin-left: 3%;
}
.aux-content button:hover,
.mm-content button:hover,
.db-content button:hover {
background-color: #0d0d9e;
transform: scale(.9); 
}
.drop {
  position: relative;
  display: inline-block;
}
.dropmenu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropmenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.drop-content li {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropmenu li:hover {
  background-color: #ddd;
}
.drop:hover .dropmenu {
  display: block;
}
